<ion-modal-view view-title="address-modal">
	<ion-header-bar class="bar bar-header bar-positive">
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancelar</button>
          <h1 class="title modal-title">Nueva direcci&oacute;n</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Guardar</button>
    </ion-header-bar>
    
        <ion-content class="address-modal-content">
          <div id="map" data-tap-disabled="true"></div>
        </ion-content>
</ion-modal-view>
