<ion-view  view-title="donate">
<ion-header>
<div class="bar bar-header bar-light">
  <h1 class="title">Agrega los alimentos</h1>
</div>
</ion-header>
  <ion-content class="donate-content">
  	<div class="img-add-button-container">
		<div class="add-img-button">
			<i class="fa fa-cutlery fa-2x cutlery-icon"></i>
			<p class="add-picture-text"><small>Añade una foto</small></p>
		</div>
  	</div>
	<div class="list">
	<form>
	  <label class="item donate-input item-input">
	    <input type="text" placeholder="Nombre del alimento" ng-model="food.name">
	  </label>
	   <label class="item item-input donate-input item-select">
	    <div class="input-label input-weight">
	    	<input type="text" placeholder="Peso/Cantidad" ng-model="food.weight">
	  	</div>
	    <select ng-model="food.measurement">
	      <option selected>Kg</option>
	      <option>Lt</option>
	      <option>Unidades</option>
	    </select>
		  </label>
		 <label class="item item-input donate-input ">
		    <input type="text" placeholder="Fecha de caducidad" ng-model="food.expirationDate"  ng-click="openDatePicker()">
		    <i class="fa fa-calendar input-icon"></i>
		  </label>
		  <label class="item item-input donate-input ">
		    <textarea placeholder="Descripci&oacute;n" ng-model="food.description"></textarea>
		  </label>
			</form>
	</div>
	<div class="add-food-button-container" ng-click="addFood()">
		<a class="button button-outline icon-right ion-plus button-balanced">Agregar</a>
	</div>


	<div class="list">
		 <a class="item item-thumbnail-left item-icon-right" ng-repeat="food in foods track by $index">
	      <img src="img/breast-chicken.jpg">
	      <h2>{{food.name}}</h2>
	      <p>{{food.weight}} {{food.measurement}}</p>
	      <p><small>{{food.expirationDate}}</small></p>
    	  <i class="icon ion-ios-close-outline " ng-click="removeFood($index)" style="color:#333"></i>	
	    </a>

	    <a class="item item-thumbnail-left item-icon-right" href="#">
	      <img src="img/breast-chicken.jpg">
	      <h2>Pechuga de Pollo</h2>
	      <p>0.700 Kg</p>
	      <p><small>Expiraci&oacute;n: 22 de Julio del 2017</small></p>
    	  <i class="icon ion-ios-close-outline " style="color:#333"></i>	
	    </a>
	    	    <a class="item item-thumbnail-left item-icon-right" href="#">
	      <img src="img/breast-chicken.jpg">
	      <h2>Pechuga de Pollo</h2>
	      <p>0.700 Kg</p>
	      <p><small>Expiraci&oacute;n: 22 de Julio del 2017</small></p>
	      <i class="icon ion-ios-close-outline " style="color:#333"></i>
	    </a>
	    	    <a class="item item-thumbnail-left item-icon-right" href="#">
	      <img src="img/breast-chicken.jpg">
	      <h2>Pechuga de Pollo</h2>
	      <p>0.700 Kg</p>
	      <p><small>Expiraci&oacute;n: 22 de Julio del 2017</small></p>
	    	<i class="icon ion-ios-close-outline " style="color:#333"></i>
	    </a>
	    	    <a class="item item-thumbnail-left item-icon-right" href="#">
	      <img src="img/breast-chicken.jpg">
	      <h2>Pechuga de Pollo</h2>
	      <p>0.700 Kg</p>
	      <p><small>Expiraci&oacute;n: 22 de Julio del 2017</small></p>
	    	<i class="icon ion-ios-close-outline item-" style="color:#333"></i>
	    </a>

	</div>
  </ion-content>
  <div class="bar bar-footer bar-balanced">
  	<div class="title">Continuar</div>
  </div>
</ion-view>
